[Desktop Entry]
Type=Application
Name=PyQT Test
Exec=C:\Controls\app_settings\src\Interface.py
Icon=application-x-executable
Terminal=false
Categories=Utility;
